@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
  margin: 0px;
  font-family: 'verdana';
  // border: #228122 solid;
};

body {
  background: #020024;
}


.cabecalho { 
  display: flex;
  flex-direction: row;

  .area-cima{
    color: #ffff;
    display: flex;
    width: 400px;
    border: #ffff solid 1px;
  } 
}