@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
  margin: 0px;
  font-family: 'verdana';
};

body {
  background: #020024;
}

.botao{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: #F0B35B;
  color: #000000;
  width: 300px;
  height: 44px;
  border-radius: 8px;
}

.cabecalho { 
  height: 90px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  background-color: #000000;

  .localiza-botao{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0px ;
    width: 100%;
    margin-right: 30px;
  }

  .icone{
    width: 68px;
    height: 61px;
    margin: 14px;
  }

 .textos{
  color: #ffff;
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin: 0px 23px;

  p{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  
 }
}